
#icons a {
    font-size: 18px;
}


.navbar-custom {
    background-color: aquamarine;
}

.navbar-toggler {
    border:0px;
}

.about-custom {
    background-color: rgb(255, 192, 203, 0.5);
}

.roadmap-custom {
    background-color: rgba(192, 255, 236, 0.5);
}

#disc {
    transform: scale(5)
}

