body {
    background-color: black;
  }
  
  .center-text {
    position: relative;
    text-align: center;
    z-index: 1;
  }

  .ml15 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    z-index: 1;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
    color: red;
  }

  :root {
    --animation-speed: 2s;
    --primary-color: #000;
    --secondary-color: #000;
    --background-color: #212121;
    --text-color: #fff;
    --font: sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .rain-container {
    position: relative;
    background: #000;
    /*   background: url("https://rb.gy/ufafte") no-repeat center center fixed; */
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
  }
  
  i {
    position: absolute;
    height: 120px;
    border-radius:100% 100% 1em 1em;
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(-120px);
    }
    100% {
      transform: translateY(calc(100vh + 120px));
    }
  }
  
  
