
#icons a {
    font-size: 18px;
}


.navbar-custom {
    background-color: aquamarine;
    background-color: rgba(192, 255, 236, 0.5);
    background-color: #FFE991;

}

.navbar-toggler {
    border:0px;
}

.about-custom {   

    background-color: rgb(255, 192, 203, 0.5);
    background-color: #FFFFB3;
}


.roadmap-custom {
    background-color: #99FFCD;
}

.faq-custom {
    background-color: blue;
}

#disc {
    transform: scale(5)
}


.icon-social-twitter, .icon-social-instagram {
    color: black;
}