@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    display: flex;
    background-color: #F7B2AD;
    justify-content: space-around;
    padding: 16px 20px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.header__logo {
    font-weight: 600;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin: 0 8px;
}

.nav__link {
    padding: 5px;
    border-radius: 5px;
}

.nav__link:hover {
    background-color: white;
}

#about {
    background-color: #CEB7B3;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon-bar img {
    width: 40px;
    margin-left: 100;
}